/*GLOBAL RESET & THEME */
body { 
    background: #1a1a2e; /* My Favourite Dark Mode Theme */
    color: white; 
    font-family: 'Segoe UI', sans-serif; 
    text-align: center; 
}

.container { 
    max-width: 500px; 
    margin: 0 auto; 
    padding: 20px; 
}

.highlight { color: #e94560; }

/* UTILITY CLASS: Used for SPA View Switching */
.hidden { display: none; }

/* LOBBY UI(The Place Where User Fills his Name) */
input { 
    padding: 10px; 
    width: 60%; 
    margin-right: 10px; 
    border-radius: 5px;
    border: none;
}

button { 
    padding: 10px 20px; 
    background: #0f3460; 
    color: white; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px;
    transition: transform 0.1s;
}

button:active { transform: scale(0.95); }

#playerList { 
    list-style: none; 
    padding: 0; 
    color: #aaa; 
}

/*GAME HUD (Heads Up Display)*/
.hud { margin-bottom: 20px; }

.ball { 
    width: 80px; 
    height: 80px; 
    background: #e94560; 
    color: white; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 2rem; 
    font-weight: bold; 
    margin: 0 auto; 
    border: 4px solid #fff;
    box-shadow: 0 0 15px rgba(233, 69, 96, 0.5);
}

/*(Game Ticket)MATRIX GRID SYSTEM */
.grid-container {
    display: grid; 
    /* 5 Columns of equal fraction */
    grid-template-columns: repeat(5, 1fr); 
    gap: 5px;
    background: #16213e; 
    padding: 10px; 
    border-radius: 10px;
}

.box {
    background: #fff; 
    color: #000; 
    height: 50px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.2s;
}

/* State: Checked (Valid Move) */
.box.checked { 
    background: #e94560; 
    color: white; 
    animation: pop 0.2s ease-in-out;
}

/* Win Button */
.btn-win { 
    width: 100%; 
    margin-top: 20px; 
    background: #22c55e; 
    font-size: 1.2rem; 
    font-weight: bold;
}

@keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}